           /*
           Couleurs - Palettes :
            Classy Holiday :
            Seashell F8EBE8
            Cinereous 8D7471 
            Black Coffee 392F2D
            Pacific Blue 46b1c9
            Persian Indigo 320D6D
            Tyrian Purple 320d6d

            Tangerine F18700
            Screamin Green 80FF72
            lightseagreen
            
           */

            /* Polices  */

            @font-face {
              font-family: "Bitstream Vera Serif Bold";
              src: url("/static/styles/libs/font-awesome/fonts/fontawesome-webfont.fdf491ce5ff5.woff");
            }

            @font-face {
             font-family: "Open Sans";
             src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
                    url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
            }


            html {
                font-size: 10px;
                font-family: "Helvetica";
                line-height: 1.5em;
            }

            body {
                background-color: #F8EBE8;
                width: 100%;
                height: 100%;
                min-height: 100%;
                max-height: 100%;
                margin: 0; 
                padding: 0; 
                border: 0; 
                outline: 0px; 
                font-family: "Helvetica";              
            }


            div {
                font-family: "Brawler", serif, "Helvetica", "Times New Roman"; 
            }

            .div-1 {
                padding: 1em;
                margin: 1em;
                font-family: "Bentham", serif;
                font-size: 12px;

            }

            .h-manus {
                font-family: "Corben", serif, "Caudex", serif;
            }

            .h3-manus {
                font-family: "Calligraffitti", sans-serif, "Helvetica", "Times New Roman";
            }


            .container_accueil {
                position: relative;
                margin-left: 310px;
               /* width: 100%;*/
            }

            header:before {
                position: absolute;
                display: block;
                background-image:  url("media/img_header.jpg");
                content: ' ';
                left: 0;
                top: 0;
                z-index: 1;
                opacity: 0.4;
                width: 100%;
                height: 100%;
                background-position: 50% 0;
                background-repeat: no-repeat;
                background-size: cover;                


            }           

            header {
                display: block;
                overflow: hidden;
                background-color: #F47E52;
                font-family: "Calligraffitti", serif;                             
                height: 150px;
                width: 100%;
                position: relative;
                top: 0;
                left: 0;
                background: rgba(255,255,255,.1);
            }

            .head_title {
                position: relative;
                margin-bottom: 50px;
                z-index: 3;
                width: 100%;
                color: #F18700;
            }



            @media only screen and (max-width: 600px) {
              nav {
                position: relative;
                flex-direction: column;
                height: auto;
                background-color: #46b1c90f;


              }
              nav ul {
                font-size: 4px;
                flex-direction: column;
                padding-top: 0.5rem;
                margin: 0px 0px 0px 10px;
                border: 2px solid red;
              }
              nav li {
                padding: 0.5rem 0;
                border: #b0dde8 solid;
                border-left: 1px;
                border-right: 1px;                
              }
            }
              
            nav {
                display: flex; 
                justify-content: space-between; 
                padding: 1rem;                 
                position: relative;
                height: auto;
                background-color: #46b1c90f;
                width: 100%;
                z-index: 10;
            }                       

            nav ul {
                display: flex; 
                flex-basis: auto;
                list-style: none;               
                align-items: stretch;
                position: relative;
                font-size: 6px;
                margin: 0px 0px 0px 100px;
            }

            nav li {
                display: inline;
                position: relative;
                margin: 5px 5px 5px 5px;
                border: #b0dde8 solid;
                border-left: 3px;
                border-right: 3px;
                padding: 1em;
            }

            /* Accueil Introduction */
            .introduction {
                background-color: yellow;
                position: relative;
                height: auto;
                /*background: rgba(255,255,255,.1); */
                background-color: #46b1c9;

            }

            .introduction .covid {
                color: red;
            }


            /* Accueil Barre gauche */
            .container_gauche {               
                position: absolute;
                display; flex;
                flex-direction: column;              
                width: 310px;
                background-color: #392F2D;

            }

            .container_gauche > div {               
                position: relative;
                display: block;
                box-shadow: 2px 2px .8em #392F2D;              
                width: inherit;
                background-color: #8D7471;
                padding: 5px 10px 5px 10px; 
                text-align: center;                              

            }  

            .suggestion-gauche {
                border: 3px solid white;
                background-color: white;
                color: #392F2D;
                border-radius: 5px;
                padding: 5px 5px 5px 5px;
            }  

            .suggestion-img {
                background-color: black;
                border: ;
            }     

         
            /* Accueil 5 Sorties */

          .container_sorties {
               /* background-color: #392F2D;   */         
                position: relative;
                display: flex;
               /* margin: 0 0 0 310;*/
                margin: 0 0 0 0;
                padding: auto;
                height: 400px;
                overflow: scroll;
            }

            .sortie {
               /* background-color: #392F2D;*/
                position: relative;
                display: inline;
                width:  400px;
                border: 2px groove white;
                margin: 20px 10px 20px 10px;
                padding: 20px 10px 10px 10px;
                overflow: scroll;
            }

            .sortie:hover {                 
                background-color: #392F2D0e;
                position: relative;
                display: inline;
                width:  400px;
                border: 2px groove white;
                margin: 20px 10px 20px 10px;
                padding: 20px 10px 10px 10px;
                overflow: scroll;

            }            

            /* Accueil Lieux */

            .accueil_lieux {
                display: block;
                position: relative;
                margin-left: 310px;
                height: 80%;
                width: 80%;
                margin: 10px 5px 50px 10px; 
                padding: 0px 10px 20px 0px;            
            }

            .accueil_lieux img {
                height: 500px;
            }


            /* PAGE LIEUX */

            #container {
                height: 100%;
                background-color: white;
            }

            .liste_lieux {
                position: relative;
                /*height: 100%;
                min-height: 100%;*/
                display: block;
                margin: 0px 100px 0px 20px;
                background-color: white;
            }

            ul.lieu {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            }

            ul.lieu > li {
                flex: 2;
                text-align: center;
                content: " ";
                position: relative;
                height: auto;  
                margin: 0px 10px 30px 5px;        
            }

            ul.lieu > li:nth-of-type(n) {  
                flex: 4 200px;
                flex-shrink: 2;
            } 


            ul.lieu > li:nth-of-type(2n) {
                flex: 2 70%;
            }


            .lieu img {
                position: relative;
                /*height: 300px;*/

                width:  auto;
                max-width: 100%;
            }


            .liste_suggestions {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                align-items: stretch;

                width: auto;
                background-color: #46b1c950;
                text-align: center;
            }

            article.suggestion {
                text-align: center;
                display: flex;
                width: 500px;
                height: auto;
                flex-direction: column;
                margin: 5px 5px 5px 5px;
                border: 3px solid white;
                background-color: white;
                color: #392F2D;
                border-radius: 5px;
                padding: 5px 5px 5px 5px;                
            }

            .suggestion .titre {
                background-color: #320D6D;
                height: 40px;
                border-radius: 0px 5px;
                padding-top: 10px;
                font-family: "Calligraffitti", serif;
                color: white;
            }



            .liste_suggestions img {
                background-color: black;
                position: relative;
                height: 300px;
                width: auto;
                max-width: 100%;
            }


            .slideshow-container .text {
                height: auto;
                position: absolute;
                padding: 0px 10px 50px 10px;
            }


            legend.inscription {
                font-family: "Cabin", sans-serif;
                border: 2px groove bisque;
            }
            /* Formulaires */

            form.small_form {
                position: relative;
                background-color: #8D7471;
            }

            .form_items_container {
                display: flex;
                flex-wrap: wrap;
                height: 150px;

            }

            .form_items_container > * {
                flex: 50%; 
                box-shadow: 1px 1px .6em #392F2D80;
                margin-bottom: 10px;                
            }

            form.small_form label {
                position: relative;
                font-family: "Buda", serif;
                font-size: 13px;
                padding : 2px 0px 0px 0px;
            }

            form.small_form legend {
                font-family: "Calligraffitti", sans-serif;
                font-size: 12px;
            } 

 
            .sorties_util {
                background-color: #46b1c9a0;
            } 
              

            .sorties_util > div {
                background-color: #80FF72a0;
                box-shadow: 1px 1px .6em #F8EBE8a0;
                border: solid white 1px;
                padding: 10px 10px 10px 10px;
                margin: 5px 5px 5px 5px;
                height: auto;
            } 

            .sortie_admin {
                background-color: white;
                border: groove 2px black;
                line-height: 1.5em;
                margin: 5px;
                padding: 5px;
                border-bottom: 2px groove #392F2D;
            }

            .li_sortie_admin {
                margin: 5px;
                padding: 5px;
                border-bottom: 2px groove #392F2D;                
            }

            form.formulaire {
                background-color: #8D7471;
            } 

            form.formulaire legend {
                font-family: "Calligraffitti", sans-serif;
                font-size: 14px;
            }                         

            form label   {
            font-family: 'Helvetica';
            display: inline-block;
            font-size: 15px;
            }

            form.formulaire input, form.formulaire select  {
            display: inline-block;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;            
            box-sizing: border-box;
            }

            form.formulaire input[type=submit] {
                width: 100%;
                background-color: #F18700;
                font-family: "Allan", sans-serif;
                font-size: 14px;
            }

            form.formulaire input[type=reset] {
                font-family: "Bentham", serif;
                font-size: 14px;
            }

            textarea.formulaire    {
            vertical-align: middle;
            }
  
            input:required:invalid {
                border: 1px red dotted;
            }

            input.invalidInput {
                border: 2px red dotted;
                background-color: pink;
            } 

            form .form_error_msg {
                position: absolute;
                margin-left: 500px;
                font-weight: bold;
                color: purple;
            } 

            #form_organiser {
                background-color: #eae2b7;
                box-shadow: 1px 1px .6em black;
            }  

            #form_organiser label {
                width: 15%;

            }    


            .connexion    {
                display:  block;
            }  /* top right down left */


            .css_calendar {
                /*position: relative;
                height: 500px;
                width: auto;
                right: 700px;*/
                position: relative;
                height: 500px;
                width: auto;
                overflow: scroll;
            }


            a {
                color: yellow;
                text-decoration: none;
                font-family: "Cabin", sans-serif, "Georgia";
                font-weight: 900;
            }

            a:visited {
                color: hotpink;
            }


            nav a {
                color: #320D6D;
                text-decoration: none;
                font-family: "Cabin", sans-serif, "Georgia";
                font-weight: 900;
                font-size: 2em;
            }

            nav a:visited {
                color: #320D6D;
                text-shadow: black 0px 2px;
            }            


              .buttons {
                display: flex;
                align-items: center;
                width: 100%;
                }             

          .div_rechercher {
            display:  flex;
            justify-content: space-around;
            flex: 300px;
            flex-direction: row;
            vertical-align: middle;
            align-items: stretch;
            justify-content: center; 
            width: 70%;            
          }

          .div_rechercher div {
            text-align: center;
           
          }

            .barre_rech {
                font-family: "Cabin", sans-serif, "Georgia";
                border: none;
                list-style-type: circle;
                display: flex !important;
                flex: 150px;
                vertical-align: middle;
                align-items: stretch;
                justify-content: center;                 

            }
            .barre_rech select, .barre_rech input, .barre_rech textarea {
                height:  90%;
                box-sizing: border-box;

            }

            .barre_rech select {
                height: 100%;
            }

            .barre_rech input[type=submit] {
                width: 100px;        
                height: 100%;
                font-family: "Allan", sans-serif;
                font-size: 16px;
                background-color: #F18700;

            }

            .art-sortie {
                position: relative;
                display: block;
                overflow: hidden;
                margin-left: 30px;
                background-color: #392F2D;
                z-index: 2;
                padding: 10px;
                border: 8px solid #392F2D;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                box-shadow: inset 5em 0em 0em 1em #FFFFFF;
            }

            .art-sortie:before {
                content: ' ';
                background-image: url("../../media/panneau-coupe.png");
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                z-index: 1;
                opacity: 0.05;
                width: 100%;
                height: 100%;
                background-position: 50% 0;
                background-repeat: no-repeat;
                background-size: cover;

            }

            .art-sortie > * {
                position: relative;
                color: #F8EBE8;
                margin: 0px 0px 0px 60px;
                z-index: 2;
                width: 70%;
            }

            .art-sortie > h2, a {
                font-family: "Corben", serif;
                color: #F18700;               
            }

            .art-sortie > h3 {
                font-family: "Calligraffitti", serif;
                color: #F8EBE8;
            }

            .h2-sortie {
                border-bottom: solid 2px #392F2Da0;
            }

          .box {
            display: flex !important;
            flex-direction: row;
          }            
            
    
            .boldred {
                font-weight: 900;
                color: red;
            }


            span.boldred {
                color: red;
                font-weight: bold;
            } 

             li.lien_utilisateur {
                position: relative;
                background-color: red;
                color: blue !important;
                margin-left: 1000px;
                width: 500px;
            } 

            #pastille_util {
                width: 20px;
                height: 20px;
            }   


            footer {
                display: block;
                background-color: #392F2D;
                position: relative;
                top: 100px;
            }       

            .div_test {
                position: relative;
                display: block;
                margin : 50 50 50 50;
                align-items: center;
                text-align: center;
                background-color: red;
                border: 2px groove blue;
            }
